#modsizecontrol-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.modsizecontrol-item {
    margin: 10px 0;
}

.modsizecontrol-text {
    display: block;
    font-weight: bold;
    font-size: 24px
}

.modsizecontrol-text-sm {
    font-size: 11px;
}

.modsizecontrol-text-lg {
    font-size: 32px;
}

.modsizecontrol-text-muted {
    color: #999
}

.modsizecontrol-circle-chart {
    font-family: sans-serif;
    width: 150px;
    height: 150px;
}

.modsizecontrol-circlechart {
    position: relative;
}

.modsizecontrol-info {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    color: #999;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.modsizecontrol-circle-chart-circle {
    stroke: #00acc1;
    stroke-width: 3;
    stroke-linecap: round;
    fill: none;
    animation: modsizecontrol-circle-chart-fill 2s reverse ease-in-out;
    transform: rotate(-90deg);
    transform-origin: center;
}

.modsizecontrol-circlechart.loading .modsizecontrol-circle-chart-circle {
    animation: modsizecontrol-circle-chart-loading 2s alternate-reverse infinite ease-in-out;
}

.modsizecontrol-circlechart.loading+.modsizecontrol-info {
    font-size: 19px;
}

.modsizecontrol-circle-chart-circle--negative {
    transform: rotate(-90deg) scale(1, -1);
}

.modsizecontrol-circle-chart-background {
    stroke: #efefef;
    stroke-width: 3;
    fill: none;
}

.modsizecontrol-circle-chart-info {
    font-weight: bold;
}

.modsizecontrol-circle-chart-percent {
    alignment-baseline: central;
    text-anchor: middle;
    font-size: 8px;
}

.modsizecontrol-circle-chart-subline {
    alignment-baseline: central;
    text-anchor: middle;
    font-size: 3px;
}

.modsizecontrol-success-stroke {
    stroke: #00C851;
}

.modsizecontrol-warning-stroke {
    stroke: #ffbb33;
}

.modsizecontrol-danger-stroke {
    stroke: #ff4444;
}

@keyframes modsizecontrol-circle-chart-fill {
    to {
        stroke-dasharray: 0 100;
    }
}

@keyframes modsizecontrol-circle-chart-loading {
    to {
        stroke-dasharray: 0 100;
    }
}